* {
	font-family: 'Orbitron', sans-serif;
}

body {
	margin: 0;
	overflow: hidden;
	height: 100vh;
  background-color: $color-primary;
}

.canvas {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 400px;
    padding-left: 50px;
  }
  
  &__button {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: $color-secondary;
  }
  
  &__button > button {
    height: 50px;
    width: 50px;
  }
  
  &__swap {
    display: flex;
    justify-content: center;
    height: 20%;
  }
  
  &__swapControls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    height: 55px;
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    background-color: $color-secondary;

    button {
      height: 50px;
      width: 50px;
      border-style: none;
      border-radius: 5px;
      font-size: 40px;
      background-color: $color-tertiary;
    }
  }
  
  &__swapControls button i {
    display: block;
    width: 100%;
  }
}