* {
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to bottom, #27395a, black);
  color: #fff;
}

h2 {
  margin: 0.5rem 0;
}

.webgl {
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customization {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 400px;
  padding-left: 50px;
}
.customization__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  background-color: #36507e;
}
.customization__controller--color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 5px;
  width: 26px;
  height: 26px;
  border-radius: 5px;
}
.customization__controller--input {
  border-radius: 5px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}
.customization__controller p {
  margin: 0;
}
.customization__controller button {
  border-style: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  background-color: #4666a1;
  cursor: pointer;
}
.customization__controller input {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 34px;
  padding: 0;
  margin: -4px -2px;
}
.customization__controller input::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
.customization__controller .slider {
  appearance: none;
  width: 100%;
  height: 5px;
  opacity: 0.7;
  transition: 0.2s;
  background: #4666a1;
  outline: none;
}
.customization__controller .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #849cc9;
  cursor: pointer;
}
.customization__controller .slider:hover {
  opacity: 1;
}

.selectors {
  display: flex;
  justify-content: center;
  height: 20%;
}
.selectors #customization__controller--avatar {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 55px;
  width: 100%;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #36507e;
}
.selectors #customization__controller--avatar button {
  height: 50px;
  width: 50px;
  border-style: none;
  border-radius: 5px;
  font-size: 40px;
  background-color: #4666a1;
  cursor: pointer;
}
.selectors--avatar {
  height: 70px;
}
.selectors--avatar button i {
  display: block;
  width: 100%;
}

.swatch__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.swatch__header p {
  margin: 0;
}
.swatch__header .close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  padding: 5px;
  line-height: 7px;
}
.swatch__header .close:hover {
  color: aquamarine;
}

.swatch__wrapper {
  position: absolute;
  top: 0;
  left: 110%;
  z-index: 10;
  min-width: 150px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  background-color: #36507e;
}

.swatch__container {
  display: flex;
  flex-wrap: wrap;
}
.swatch__container .swatch__color {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 1px;
}

dialog[open] {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
